<h1>Listing gcm_registrations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Gcm registration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gcm_registrations.each do |gcm_registration| %>
      <tr>
        <td><%= gcm_registration.user_id %></td>
        <td><%= gcm_registration.gcm_registration_id %></td>
        <td><%= link_to 'Show', gcm_registration %></td>
        <td><%= link_to 'Edit', edit_gcm_registration_path(gcm_registration) %></td>
        <td><%= link_to 'Destroy', gcm_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gcm registration', new_gcm_registration_path %>
