<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Appi | Mobile App Backend</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstraplumen.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/application.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Appi | Mobile App Backend</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><%= current_user.email %></a></li>
            <li><a href="<%= destroy_user_session_path %>" data-method="delete"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> <%= t('users.logout') %></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li <% if controller_name == 'welcome' %>class="active"<% end %>><a href="/"><%= t('dashboard.title') %> <span class="sr-only">(current)</span></a></li>
            <li <% if controller_name == 'posts' %>class="active"<% end %>><a href="/posts"><%= t('posts.title') %></a></li>
            <li <% if controller_name == 'galleries' %>class="active"<% end %>><a href="/galleries"><%= t('galleries.title') %></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li <% if controller_name == 'users' %>class="active"<% end %>><a href="/users"><%= t('users.nav-title') %></a></li>
            <li <% if controller_name == 'settings' %>class="active"<% end %>><a href="/settings"><%= t('settings') %></a></li>
          </ul>          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/bootstrap.min.js"></script>
  </body>
</html>
